name: MasterDeployCI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
        
    - name: Create Release Folder
      run: rsync -arv --exclude='.git/' --exclude='.github/' --exclude='.gitignore' . ./release
      
    - name: Switch to Release Folder
      run: |
        cd release
        ls -la
        
    - name: Bump version and push tag
      uses: anothrNick/github-tag-action@1.36.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        
	- name: release
	    uses: actions/create-release@v1
	    id: create_release
	    with:
	      draft: false
	      prerelease: false
	      release_name: ${{ steps.version.outputs.version }}
	      tag_name: ${{ github.ref }}
	      body_path: CHANGELOG.md
	    env:
	      GITHUB_TOKEN: ${{ github.token }}
      